.singleitem {
  width: 400px;
  user-select: none;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;

  background-image: linear-gradient(-90deg, rgb(235, 210, 210), #c7f1c7);
}

.singleitem:hover {
  box-shadow: 8px 8px 20px green;
}

.res_heading {
  cursor: pointer;
  font-size: 1.2em;
  padding: 5px;
  background-color: green;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

.res_heading .res_heading_tooltip {
  margin-top: -40px;
  margin-left: -100px;
  border-radius: 5px;
  background-color: white;
  color: green;
  padding: 5px;
  position: absolute;
  z-index: 1;
  width: fit-content;
  visibility: hidden;
}
.res_heading:hover {
  background-color: white;
  color: green;
}
.res_heading:hover .res_heading_tooltip {
  visibility: visible;
}
.singleitemul {
  list-style-type: none;
  padding: 5px;
  display: flex;
  flex-direction: row;
  list-style: none;
  border-radius: 10px;
}
.singleitemul li:nth-child(1) {
  border-radius: 10px;
  width: 180px;
  height: 180px;
  border: 2px solid white;
}
.singleitemul li:nth-child(2) {
  width: 210px;
  height: 180px;
  margin-left: 10px;
  text-align: center;
  font-weight: bold;
}

.item_name {
  text-align: center;
  font-size: 1.2em;
  color: green;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
.item_name .item_name_tooltip {
  margin-top: -40px;
  margin-left: -100px;
  border-radius: 5px;
  background-color: white;
  color: green;
  padding: 5px;
  position: absolute;
  z-index: 1;
  width: fit-content;
  visibility: hidden;
}
.item_name:hover .item_name_tooltip {
  visibility: visible;
}

.order_btn {
  cursor: pointer;
  font-size: 1.2em;
  padding: 9px;
  background-color: white;
  color: green;
  font-weight: bold;
  border-radius: 5px;
}
.order_btn:hover {
  color: white;
  background-color: green;
}

.item_img {
  width: 180px;
  height: 180px;
  border-radius: 10px;
}
@media only screen and (max-width: 400px) {
  .singleitemul :nth-child(1) {
    width: 100%;
    height: 100px;
  }
  .singleitemul :nth-child(2) {
    width: 100%;
    height: 100px;
  }
  .singleitemul {
    width: 80%;
    font-size: 2vw;
    height: 102px;
  }
  .singleitemul li::nth-child(2) span {
    padding: 5px;
  }
}
