.maincard {
  width: 450px;
  user-select: none;
  padding: 10px;
}

.maincardul {
  height: 100%;
  background-image: linear-gradient(
    -90deg,
    rgb(235, 210, 210),
    rgb(199, 241, 199)
  );
  list-style-type: none;
  padding: 5px;
  display: flex;
  flex-direction: row;
  list-style: none;
  border-radius: 10px;
  font-size: 1.1em;
}
.maincardul:hover {
  box-shadow: 5px 5px 20px green;
}

.maincardul :nth-child(1) {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.maincardul :nth-child(2) {
  width: 180%;
  height: 210px;
  margin-left: 5px;
}

.resnamesinglecard {
  font-weight: bold;
  text-align: center;
  color: red;
  text-decoration: none;
}
.resnamesinglecard:hover {
  color: green;
}
.SCardMDOB {
  cursor: pointer;
  padding: 10px;
  background-color: green;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}
.SCardMDOB:hover {
  background-color: white;
  color: green;
}
.scardimg {
  width: 180px;
  height: 180px;
}
@media only screen and (max-width: 350px) {
  .maincardul :nth-child(1) {
    width: 100%;
    height: 100px;
  }
  .maincardul :nth-child(2) {
    width: 100%;
    height: 100px;
  }
  .maincardul {
    width: 90%;
    font-size: 1.2em;
    height: 102px;
  }
  .maincardul li::nth-child(2) span {
    padding: 5px;
  }
}
