.homepage_view_restaurants {
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}
.homepage_view_restaurants:hover {
  background-color: white;
  color: green;
}
.menu_heading {
  font-size: 1.2em;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
